mixin more-articles(header, imgFile, imgText, link, content)
  article.media
    div.media-left
      a(href=link): img(src=imgFile, alt=imgText).media-object.img-rounded
    div.media-body
      h1.media-heading: a(href=link)=header
      p=content

article.main-article
  h1 Neque porro quisquam est qui
  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer rutrum, nisl eget congue rhoncus, dui felis congue turpis, et accumsan enim tortor sed velit. Praesent maximus mattis lectus, vel volutpat nunc. Mauris finibus eros a enim eleifend imperdiet. Cras sodales justo sit amet gravida tristique.
  p Fusce congue nibh eu aliquet pellentesque. Aliquam erat volutpat. Donec consequat ornare erat, id tempor nisl efficitur vel. Duis vel mattis ex, eu elementum dolor. Donec eu nisl iaculis, iaculis turpis ac, ullamcorper leo. Phasellus elementum efficitur quam, vitae commodo nunc tincidunt in. Sed sit amet tempus lectus. Aenean ac auctor elit, suscipit venenatis elit. Nullam metus purus, malesuada ac suscipit sed, imperdiet id risus. Suspendisse lobortis sit amet ante a consequat. In hac habitasse platea dictumst. Nullam efficitur, leo aliquet finibus egestas, velit mauris viverra velit, mollis commodo ex felis pretium felis. Morbi eu diam venenatis, posuere mi venenatis, mollis elit. Donec orci odio, mattis non auctor non, posuere sit amet mi. Donec porttitor commodo enim ac vulputate. Donec pharetra tortor eget ex auctor dictum.
  p In hac habitasse platea dictumst. Etiam consequat mi mi, eu ullamcorper felis dapibus tristique.
    cite.quote If you always put limit on everything you do, physical or anything else. It will spread into your work and into your life. There are no limits. There are only plateaus, and you must not stay there, you must go beyond them.
    span.quote-footer Bruce Lee
    |  Suspendisse pretium nisi convallis diam gravida, non volutpat diam gravida. Ut vitae nunc eros. Donec mauris dolor, cursus vel arcu quis, aliquet sodales risus. Phasellus volutpat elementum placerat. Nam convallis, augue maximus volutpat lacinia, quam arcu aliquam lacus, nec laoreet orci magna ac sapien. Mauris id sagittis purus. Ut blandit ligula eu cursus hendrerit. Fusce a tincidunt nunc, eu volutpat neque. Nullam varius dolor ut lorem ultricies volutpat. Maecenas pellentesque laoreet tincidunt. Nulla facilisi. Vestibulum sapien dolor, cursus a nunc ac, sodales tristique velit. Vestibulum eget sem sed sem tristique vehicula.</p>
  
  aside.more-articles
    h1.text-center: span More in this series
    +more-articles('Sed suscipit quis leo vel posuere', require("../img/teaser-01.jpg"), 'teaser-01', '#', 'Fusce vestibulum mollis ex, eu placerat nulla dictum at. Suspendisse rhoncus mi in quam aliquet semper. Duis feugiat sollicitudin nunc, ac pellentesque nisi efficitur tempus.')
    +more-articles('Aenean a ornare leo donec', require("../img/teaser-02.jpg"), 'teaser-02', '#', 'Nullam varius eget nisi at pharetra. Donec vulputate quam ac accumsan venenatis. In sed erat auctor, blandit nisi sit amet, cursus urna. Sed ultrices sed sem ut ultrices a iaculis ipsum augue id eros. Morbi at vestibulum ipsum. Proin tempor non nibh iaculis condimentum.')
